input{
    border: 1px solid lightgray;
    outline: none;
    padding: 5px;
    font-size: 20px;
    margin-bottom: 10px;
}

input:focus{
    -webkit-box-shadow: 0px 0px 22px -12px #000000; 
    box-shadow: 0px 0px 22px -12px #000000;
    transition: .4s;
}

input:last-child{
    cursor: pointer;
    margin-top: 5px;
}


input:last-child:hover{
    transition: .3s;
    background-color: #f5f4f9;
}
