.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


form{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container img{
    width: 200px;
}

.container form{
    width: 100%;
    max-width: 500px;
}

.form_container{
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 40px 20px;
}

label{
    color: #6e6e6e;
    margin-top: 5px;
}

span{
    position: absolute;
    right: 10px;
    bottom: 63px;
    cursor: pointer;
}

.eyeImg{
    width: 30px!important;
}